= link_to 'Add Film', '#add_film_dialog', { role: 'button', class: 'btn add_film_button', data: { toggle: 'modal' } }

.films_table
  - unless @films.blank?
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Name
          %th Original Name
          %th Year
          %th Genre
          %th Released
          %th Director
          %th Cast
      %tbody
        - @films.each do |film|
          %tr
            %td= film.name
            %td= film.original_name
            %td= film.year
            %td= film.genre
            %td= film.released
            %td= film.director
            %td= film.cast

-#.pagination-centered= will_paginate @films, :renderer => BootstrapPagination::Rails

= render partial: 'dialogs/add_film_dialog'